<h1>Вычисление дружественных чисел от 1 до n</h1>
<p>Два числа называются взаимно дружественными, если каждое из них
  равно сумме всех делителей другого, кроме самого этого числа.</p>
<%= form_tag("/number/view", :method => "get") do %>
  <%= label_tag("Введите n") %>
  <%= text_field_tag(:number) %>  <br/>
  <br/>
  <%= submit_tag("Рассчитать") %>
<% end %>
<%= link_to "Log out", logout_path %>




